h1 {
    color : #abb2bf;
    text-align: center;

}
#lbotona {
	color: #263238;
	background-color: white;
    text-align: center;

}
li {
    color : #263238;
    text-align: center;
    font-size: 20px;

}
img {
    border-radius: 50%;
}
#dkhl{

    
    border: 50%;
    
 

}
::marker{

    color:goldenrod;
}
#fav {
    border-radius: 50%;
}
# l2 {
    flex: auto;
}
.center {
    border: 5px solid #FFFF00;
    line-height: 150px;
    height: 150px;
    }

    #lbotona {
        color: #263238;
        background-color: white;
        text-align: center;
    
    }
    #lbotona2 {
        color: #263238;
        background-color: white;
        text-align: center;
    
    }
    p {
text-align: center;

color: white;
        }
    
    #d1 {
        width: 100px; float:left; height:100px; background:white; margin:10px
            
    }
    #d2 {
        width: 100px; float:left; height:100px; background:white; margin:10px
        
    }
    #d3 {
        width: 100px; float:left; height:100px; background:white; margin:10px
    }
    #d4 {
        width: 100px; float:left; height:100px; background:white; margin:10px
        
    }
    #d5 {
        width: 100px; float:left; height:100px; background:white; margin:10px
    }
    #d6 {
        width: 100px; float:left; height:100px; background:white; margin:10px
        
    }
    #d7 {
        width: 100px; float:left; height:100px; background:white; margin:10px
        
    }
    #d11{
        width: 100px; float:left; height:100px; background:white; margin:10px
    }
    #d8{
        width: 100px; float:left; height:100px; background:white; margin:10px
    }
    
    #d9{
        width: 100px; float:left; height:100px; background:white; margin:10px
    }
    #d12{
        width: 100px; float:left; height:100px; background:white; margin:10px
    }
    #d17{
        width: 100px; float:left; height:100px; background:white; margin:10px
    }
#d18{
    width: 100px; float:left; height:100px; background:white; margin:10px
}
#d333{
    width: 100px; float:left; height:100px; background:white; margin:10px
}
#d444{
    width: 100px; float:left; height:100px; background:white; margin:10px
}
footer{
    background: #abb2bf;
    height: auto;
    width: 100vw;
    font-family: "open sans";
    padding-top: 40px;
    color: #fff;
    
    

}
.amadText{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}
.amadText p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;

}